---
import ContentPage from '@/components/ContentPage.astro';
---

<ContentPage path="/about" title="About" description="About Word Unscrambler - free word game tools for Wordle, Scrabble, Words with Friends.">
  <p>Word Unscrambler provides free tools to unscramble letters, solve anagrams, and find words for Wordle, Scrabble, Words with Friends, and other word games. Our goal is to help you play better and learn new words.</p>
  <p class="mt-4">Use our <a href="/unscramble" class="text-primary hover:underline">Unscramble</a> or <a href="/word-unscrambler" class="text-primary hover:underline">Word Unscrambler</a> to get started.</p>
</ContentPage>
