---
import ContentPage from '@/components/ContentPage.astro';
---

<ContentPage path="/terms" title="Terms of Use" description="Terms of Use for Word Unscrambler - usage terms and conditions.">
  <p>By using Word Unscrambler you agree to use our tools for personal, non-commercial purposes. Our word lists are for reference and game play only. We do not guarantee completeness or accuracy of results.</p>
</ContentPage>
